* {
    font-family: "Bellefair", serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3e8ff;
}

header {
    width: 100%;
    background-color: #480b6e;
    color: white;
    padding: 15px 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1000;
}

header h1 {
    font-size: 24px;
}

nav ul {
    display: flex;
    list-style: none;
}

nav ul li a {
    display: flex;
    align-items: center;
    gap: 5px;
    margin: 0 15px;
    padding: 8px 15px;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

nav ul li a:hover {
    background-color: #6a1b9a;
}

main {
    margin-top: 80px;
    padding: 20px;
}

section {
    background: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 2px 6px rgba(0,0,0,0.2);
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

thead {
    background-color: #480b6e;
    color: white;
}

th, td {
    padding: 10px;
    text-align: center;
    border-bottom: 1px solid #ccc;
}

.botoes {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.btn {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.btn.primario {
    background-color: #480b6e;
    color: white;
}

.btn.secundario {
    background-color: #ccc;
}

.btn.perigo {
    background-color: #e74c3c;
    color: white;
}


.modal {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.5);
    justify-content: center;
    align-items: center;
}

.modal-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 350px;
    position: relative;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
}

.modal-content h2 {
    margin-bottom: 15px;
    font-size: 18px;
    color: #480b6e;
}

.modal-content label {
    display: block;
    margin-top: 10px;
}

.modal-content input[type="text"] {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.checkbox {
    display: flex;
    align-items: center;
    margin: 15px 0;
    gap: 8px; 

}
.checkbox label{
    margin-bottom: 10px;
}

.modal-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 15px;
}

.modal-content .btn {
    padding: 8px 15px;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.modal-content .btn.primario {
    background-color: #480b6e;
    color: white;
}

.modal-content .btn.cancelar {
    background-color: #ccc;
    color: #333;
}
.modal-content input{
    outline: none;
    border: none;
  }
.close {
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 22px;
    color: #480b6e;
    cursor: pointer;
}

.close:hover {
    color: #6a1b9a;
}
